$peach: #F4F6F5;
$burgundy:#B73C54;

#logo{ 
    width: auto;
    height: 80%;
}
#logo > img{
    margin: auto;
    width: auto;
    display: block;
    height: 100%;
    width: auto;

}
.socialMediaContainer{
    height: 80%;
    display: flex;
    flex-direction: row;
}
.socialMediaContainer>img{

    margin: auto 0.5em;
    width: auto;
    height: 80%;
}

.roundedBack{
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    margin-bottom: 1em;
    margin-top: 1em;
    
}

