<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div class="roundedBack shadow">
  <h1>Tent Peg</h1>
<div id="logo"><img src="assets/Asset 1mdpi.png" alt=""></div>
</div>
<ion-button expand="block" [routerLink]="['/login']">Login <div class="socialMediaContainer"><img src="assets/fbicon.svg" alt=""><img src="assets/googleicon.svg" alt=""></div></ion-button>
<ion-button expand="block">Register</ion-button>
</ion-content>
